In [1]:
import datetime

In [9]:
## Get current date and time
datetime_object = datetime.datetime.now()
print(datetime_object)

2022-11-24 19:41:09.892542

In [10]:
## Get current date
date_object = datetime.date.today()
print(date_object)

2022-11-24

In [11]:
## What's inside datetime?
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [12]:
d = datetime.date(2019, 4, 13) 
print(d)

2019-04-13

In [13]:
## Date object to represent a date
from datetime import date
a = date(2019, 4, 13)
print(a)

2019-04-13

In [14]:
## Get current date using today() class method
from datetime import date
today = date.today()
print("Current date =", today)

Current date = 2022-11-24

In [15]:
## Get date from a timestamp (unix)
from datetime import date 
timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-10

In [23]:
## Printing today's year, month and day 

from datetime import date 

# date object of today's date
today = date.today()
print("Current year:", today.year)
print("Current month:", today.month) 
print("Current day:", today.day)

Current year: 2022
Current month: 11
Current day: 24

In [24]:
## datetime.time 
## a time object instantiated from the time class represents the local time

In [25]:
## Time object to represent time 
from datetime import time 

# time(hour = 0, minute = 0, second = 0) 
a = time() 
print("a =", a) 

# time(hour, minute, second) 
b = time(11, 34, 56) 
print("b =", b) 

#time(hour, minute and second) 
c = time(hour = 11, minute = 34, second = 56)
print("c =", c)

#time(hour, minute, second, microsecond) 
d = time(11, 34, 56, 234566)
print("d =", d)

a = 00:00:00
b = 11:34:56
c = 11:34:56
d = 11:34:56.234566

In [26]:
## Print hour, minute, second and microsecond 

# once you create a time object you can easily print its attributes such as hour, minute etc. 

from datetime import time 

a = time(11, 34, 56)

print("hour =", a.hour)
print("minute =", a.minute) 
print("second =", a.second) 
print("microsecond =", a.microsecond)

hour = 11
minute = 34
second = 56
microsecond = 0

In [27]:
## datetime.datetime

# the datetime module has a class named dateclass that can contain information from both date and time objects

In [28]:
## Python datetime object 

from datetime import datetime 

# datetime(year, month, day) 
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond) 
b = datetime(2017, 11, 28, 23, 55, 59, 342380) 
print(b)

2018-11-28 00:00:00
2017-11-28 23:55:59.342380

In [29]:
## The first three arguements year, month, and day in the datetime() constructor are MANDATORY

In [30]:
## Print year, month, hour, minute, and timestamp 

from datetime import datetime

a = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", a.year) 
print("month =", a.month) 
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511931359.34238

In [31]:
## datetime.timedelta

# a timedelta object represents the difference between two dates or times

In [32]:
## Difference between two dates and times 

from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23) 
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33) 
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5 
print("t6 =", t6)

print("type of t3=", type(t3))
print("type of t6=", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3= <class 'datetime.timedelta'>
type of t6= <class 'datetime.timedelta'>

In [33]:
## Notice, both t3 and t6 are of <class 'datetime.timedelta'> type

In [34]:
## Difference between two timedelta objects 

from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33) 
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

print("t3 =", t3)

t3 = 14 days, 13:55:39

In [35]:
## Here we have created two timedelta objects t1 and t2, and their difference is printed on the screen

In [36]:
## Printing negative timedelta object 

from datetime import timedelta

t1 = timedelta(seconds = 33) 
t2 = timedelta(seconds = 54) 
t3 = t1 - t2

print("t3 =", t3) 
print("t3 =", abs(t3))

t3 = -1 day, 23:59:39
t3 = 0:00:21

In [37]:
## Time duration in seconds 

# you can get the total number of seconds in a timedelta object using total_seconds() method. 

from datetime import timedelta 

t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423) 
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

In [38]:
## You can also find sum of two dates and times using + operator. Also, you can multiply and divide a timedelta object by integers and floats.

In [39]:
# Python format datetime

## The way date and time is represented may be different in different places, organizations, etc. 
## It's more common to use mm/dd/yyyy in the US, whereas dd/mm/yyyy is more common in the UK. 

### Python has strftime() and strptime() methods to handle this.

In [40]:
# Python strftime() - datetime object to string

## the strftime() method is defined under classes, date, datetime and date. The method creates a formatted string from a given date, datetime, or time object.

In [42]:
# Format date using strftime() 

from datetime import datetime 

# current date and time 
now = datetime.now()

t = now.strftime("%H:%M:%S")
print("time:", t) 

s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s2 = now.strftime("%d/%m/%Y, %H:%M:%S") 
# dd/mm/YY H:M:S format
print("s2:", s2)

time: 20:31:27
s1: 11/24/2022, 20:31:27
s2: 24/11/2022, 20:31:27

In [43]:
# Python strptime() - string to datetime 

## The strptime() method creates a datetime object from a given string (representing date and time)

In [44]:
# strptime()

from datetime import datetime 

date_string = "21 June, 2018" 
print("date_string =", date_string) 

date_object = datetime.strptime(date_string, "%d %B, %Y") 
print("date_object =", date_object)

date_string = 21 June, 2018
date_object = 2018-06-21 00:00:00

In [45]:
## The strptime() method takes two arguements: 

## 1) a string representing date and time

## 2) format code equivalent to the first argument

In [51]:
# Handling timezone in python 

## Rather than trying to handle timezone yourself, we suggest you to use a third-party 'pytz' module

from datetime import datetime 
import pytz

local = datetime.now()
print("Local:", local.strftime("%m/%d/%Y, %H:%M:%S"))

tz_NY = pytz.timezone('America/New_York')
datetime_NY = datetime.now(tz_NY)
print("NY:", datetime_NY.strftime("%m/%d/%Y, %H:%M:%S")) 
                                  
tz_London = pytz.timezone('Europe/London') 
datetime_London = datetime.now(tz_London) 
print("London:", datetime_London.strftime("%m/%d/%Y, %H:%M:%S"))

Local: 11/24/2022, 20:44:09
NY: 11/24/2022, 20:44:09
London: 11/25/2022, 01:44:09

In [52]:
## here, datetime_NY and datetime_London are datetime objects containing the current date and time of their respective timezone.