# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. Assign any number of type integer to the variable "num_1"

In [2]:
num_1 = 3

In [3]:
print(num_1)

3

#### 2. Assign any number of type float to the variable "num_2"

In [4]:
num_2 = 4.05

In [5]:
print(num_2)

4.05

#### 3. Create the variable "total" as the sum of variables "num_1" and "num_2"

In [8]:
total = num_1 + num_2

In [9]:
print(total)

7.05

#### 4. Check the type of the variable "total"

In [10]:
type(total)

float

print(type(total))

#### 5. Assign your height to the variable "height"

In [11]:
height = 1.73

In [12]:
print(height)

1.73

#### 6. Assign your weight to the variable "mass"

In [13]:
mass = 65

In [14]:
print(mass)

65

#### 7. Create the variable "bmi" :
hint: bmi = weight / (height*height)

In [16]:
bmi = mass/ (height * height)

In [17]:
print(bmi)

21.71806608974573

#### 8. Print the value of the "bmi" variable

In [18]:
print(bmi)

21.71806608974573

# String

#### 1. Create the variable "name" with your first name

In [25]:
name = 'Oswaldo'

In [26]:
print(name)

Oswaldo

#### 2. Create the variable "surname" with your surname

In [23]:
surname = 'Ustariz'

In [24]:
print(surname)

Ustariz

#### 3. Create the variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [29]:
name_surname = name + ' ' + surname

In [30]:
print(name_surname)

Oswaldo Ustariz

#### 4. Print the variable "name_surname"

In [32]:
print(name_surname)

Oswaldo Ustariz

#### 5. Print the first letter of the variable "name_surname"

In [41]:
print(name_surname[0])

O

#### 6. Print your name (without any enmpty space) from the variable "name_surname"

In [45]:
print(name_surname[:7] + name_surname[8:])

OswaldoUstariz

#### 7. Print your surname 10x (use variable "surname")

In [33]:
print(surname*10)

UstarizUstarizUstarizUstarizUstarizUstarizUstarizUstarizUstarizUstariz

#### 8. Create the variable "greeting" with the message "Hello my name is " + your name and surname (use "name_surname" variable)

In [34]:
message = "Hello my name is"

In [37]:
greeting = message + ' ' + name_surname

#### 9. Print the "message" variable

In [38]:
print(greeting)

Hello my name is Oswaldo Ustariz

## List

#### 1. Create an empty list named "empty_list"

In [57]:
empty_list = []

In [58]:
print(empty_list)

[]

#### 2. Create a list called "heights" with five random values

In [61]:
heights = [1, 2, 3, 4, 5
          ]

In [62]:
print(heights)

[1, 2, 3, 4, 5]

#### 3. Print "heights"

In [63]:
print(heights)

[1, 2, 3, 4, 5]

#### 4. Print the type of variable for "heights"

In [64]:
type(heights)

list

#### 5. Print the second value from "heights"

In [65]:
print(heights[1])

2

#### 6. Assign the last three values from "heights" to another list called "heights_2"

In [66]:
heights_2 = heights[2:]

In [67]:
print(heights_2)

[3, 4, 5]

#### 7. Print "heights_2"

In [68]:
print(heights_2)

[3, 4, 5]

#### 8. Create the variable "list_all" with values from lists "heights" and "heights_2"

In [69]:
list_all = (heights + heights_2)

In [70]:
print(list_all)

[1, 2, 3, 4, 5, 3, 4, 5]

#### 9. Print "list_all"

In [71]:
print(list_all)

[1, 2, 3, 4, 5, 3, 4, 5]

#### 10. Print the type of "list_all"

In [72]:
type(list_all)

list

## Tuple

#### 1. Create an empty tuple called "empty_tuple"

In [73]:
empty_tuple = ()

In [74]:
print(empty_tuple)

()

#### 2. Try to assign your name to the first position of "empty_tuple" and check the type of error that occurs

In [76]:
empty_tuple.append(0, 'Oswaldo')

AttributeError: 'tuple' object has no attribute 'append'

#### 3. Based on the error that occured in the above question, what is the main difference between a list and a tuple?

In [ ]:
The main difference between a tuple and a list is that a tuple is immutable while the list is mutable

## Dictionary

#### 1. Create an empty dictionary named "empty_dict"

In [77]:
empty_dict = {}

In [78]:
print(empty_dict)

{}

#### 2. Create a dictionary called "heights_dict" with your name as a key and height as a value

In [80]:
heights_dict = {
                    'Oswaldo' : 172
}

In [81]:
print(heights_dict)

{'Oswaldo': 172}

#### 3. Assign another name and height to "heights_dict"

In [82]:
heights_dict['Conor'] = 173

In [83]:
print(heights_dict)

{'Oswaldo': 172, 'Conor': 173}

#### 4. Print "heights_dict"

In [84]:
print(heights_dict)

{'Oswaldo': 172, 'Conor': 173}

#### 5. Print your height from the "heights_dict" dictionary

In [91]:
heights_dict['Oswaldo']

172

#### 6. Print all values from the "heights_dict" dictionary

In [87]:
heights_dict.values()

dict_values([172, 173])

In [88]:
list(heights_dict.values())

[172, 173]

#### 7. Print all keys from the "heights_dict" dictionary

In [85]:
heights_dict.keys()

dict_keys(['Oswaldo', 'Conor'])

In [86]:
list(heights_dict.keys())

['Oswaldo', 'Conor']